<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_new.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/formulario_contacto.css') }}">
    <script>
        function validateForm() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            // Validación de correo
            if (!emailPattern.test(email)) {
                document.getElementById("emailError").style.display = "block";
                return false;
            } else {
                document.getElementById("emailError").style.display = "none";
            }

            // Validación de contraseñas
            if (password !== confirmPassword) {
                document.getElementById("passwordError").style.display = "block";
                return false;
            } else {
                document.getElementById("passwordError").style.display = "none";
            }

            return true;
        }
    </script>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/icons/logo.svg')}}" class="logo img"></img>
            <a href="{{ url_for('index') }}" class="logo h1">
                <h1>MEGA TASK</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}"> Home</a></li>
                <li><a href="{{ url_for('login') }}"> Login</a></li>
                {% if personas %}
                    <li><a href="{{ url_for('select_persona') }}"> Proyectos </a></li>
                {% else %}
                    <li><a href="{{ url_for('add_persona') }}"> Crear Persona </a></li>
                {% endif %}
            </ul>

            <a href="{{ url_for('formulario_contacto') }}" class="btn btn_principal">Contacto</a>
            <i class="fa-solid fa-user"></i>
        </nav>
    </header>

    <main class="flex">
        <div class="container50 image"></div>
        <div class="container50 form">
            <h2>¡Regístrate!</h2>
            <form method="post" onsubmit="return validateForm()">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label }} {{ form.username }}
                </div>
                <div>
                    {{ form.email.label }} {{ form.email }}
                    <span id="emailError" style="color: red; display: none;">Por favor ingresa un correo electrónico válido.</span>
                </div>
                <div>
                    {{ form.password.label }} {{ form.password }}
                </div>
                <div>
                    {{ form.confirm_password.label }} {{ form.confirm_password }}
                    <span id="passwordError" style="color: red; display: none;">Las contraseñas no coinciden.</span>
                </div>
                <div>
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </main>
</body>
</html>
