<!-- templates/incidentes_proyectos.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_new.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_incidentesproyectos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/icons/logo.svg') }}" type="image/x-icon">

    <title>Tareas</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/icons/logo.svg') }}" class="logo img"></img>
            <a href="{{ url_for('index') }}" class="logo h1">
                <h1>MEGA TASK</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}"> Home</a></li>
                <li><a href="{{ url_for('login') }}"> Login</a></li>
                <li><a href="{{ url_for('proyectos') }}"> Proyectos </a></li>
            </ul>

            <a href="{{ url_for('formulario_contacto') }}" class="btn btn_principal">Contacto</a>
            <i class="fa-solid fa-user"></i>
        </nav>
    </header>

    <main class="container">
        <h1 id="project-title">Proyectos / Proyecto</h1>
        <button id="back-button" class="back-button">Volver a Proyectos</button>
        <div class="search-bar">
            <input type="text" placeholder="Título" id="search-title">
            <select id="assigned">
                <option value="">Asignado</option>
                <option value="Persona 1">Persona 1</option>
                <option value="Persona 2">Persona 2</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
            <select id="status">
                <option value="">Estado</option>
                <option value="Pendiente">Pendiente</option>
                <option value="En progreso">En progreso</option>
                <option value="Completado">Completado</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
            <button id="filter-button">Filtrar</button>
        </div>
        <div class="tasks">
            <!-- Aquí se mostrarán las tareas -->
        </div>
    </main>
    <script src="{{ url_for('static', filename='./scripts/tareas.js') }}"></script>
    <footer></footer>
</body>

</html>
