/* Asegurar que el combo box tenga el mismo estilo que otros inputs y botones */
.search-bar select,
.search-bar input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Hacer que los botones tengan el mismo estilo */
button {
    background-color: #7c4dff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3a169e;
}

/* Estilo de los proyectos */
.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0; /* Añadir margen superior e inferior para espacio */
}

.project {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 1fr auto; /* Ajuste para asegurarnos de que todos los elementos estén alineados */
    align-items: center;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    white-space: nowrap;
}

/* Efecto hover en las líneas de proyecto */
.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project .status {
    min-width: 150px; /* Ajusta este valor según tus necesidades */
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project .status.doing {
    background-color: #b399ff; /* Lila claro */
}

.project .status.en-riesgo {
    background-color: #ff9800; /* Naranja */
}

.project .status.fuera-de-tiempo {
    background-color: #f44336; /* Rojo */
}

/* Eliminar el borde de los enlaces */
.projects a {
    text-decoration: none;
    color: inherit;
    border: none; /* Elimina el borde de los enlaces */
}

.projects.project.url a {
    color: #007bff;
    text-decoration: none;
}

.projects.project .url a:hover {
    text-decoration: underline;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    justify-self: end;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Estilo responsive para proyectos */
@media (max-width: 768px) {
    .projects .project {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .project span {
        margin-bottom: 10px;
    }

    .delete-button {
        grid-row-start: 7;
    }
}
