.content{
    display: flex;
    flex-direction: column;
    align-items: top;
    gap: 2rem;
    width: 100%;
}

.div-img-text{
    background-size: cover;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
    gap: 30px;
    align-items: baseline;
}

.div-img{
    align-self: center;
    width: 50%;
    padding: 2rem;
}

.div-text{
    padding: 1rem;
    font-size:x-large;
    align-self: top;
    width: 100%;
    text-align: top;
    padding-bottom: 1rem;
}