/* generic_classes */

.flex {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* fondo con imagen */
.container50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container50.image {
    background-image: var(--background_colores);
    background-size: cover;
    background-position: center;
}

.container50.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
}

.product-name {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: var(--Secular);
}

h2 {
    margin-bottom: 20px;
    font-family: var(--Roboto);
}

input.input_field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--border_radius);
    border: 1px solid #ccc;
    font-size: 1em;
}


