:root {
/*colors*/
    --celeste: rgb(12,195,232);
    --rojo: rgb(208,0,0);
    --naranja: rgb(239,140,108);
    --violeta: rgb(151,71,255);
    --gris: rgb(112,112,112);
    --negro: rgb(0,0,0);
    --blanco: rgb(255,255,255);

/*fonts*/
    --Secular: 'Secular One';
    --Roboto: 'Roboto';

/*styles*/
    --border_radius: 15px;

/*backgrounds*/
    --background_colores: url(/assets/backgrounds/background_colores.png);
}

.subtitle{
    font-family: var(--Roboto);
    font-size: 18px;
    color: var(--gris)
}

/*icons*/
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.icon.clock {
    background-image:url(/assets/icons/clock.svg)
};

.icon.issue_incident {
    background-image: url(/assets/icons/Issue_incident.svg)
};

.icon.logo {
    background-image: url(/assets/icons/logo.svg)
};

.icon.search {
    background-image: url(/assets/icons/search.svg)
};

.icon.user_default {
    background-image: url(/assets/icons/user.svg)
};

.icon.user_options {
    background-image: url(/assets/icons/options.svg)
};



/*common titles*/
.nombre_producto{
    font-family: var(--Secular);
    font-size: 48px;
}

.title{
    font-family: var(--Secular);
    font-size: 24px;
}

/* buttons */

.btn{
    border-radius: var(--border_radius);
    height: 15px;
    text-align: center;
    padding: 20px 0% 20px 0%;
    margin: 1rem 1rem 0rem 1rem;
    border: none;
    cursor: pointer;
    width: 90%;
    font-family: var(--Roboto);
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}

button:hover {
    opacity: 0.8;
  }

.btn.btn_principal {
    color: var(--blanco);
    background-color: var(--violeta);
}

.btn.btn_principal:hover{
    background-color: lightcoral;
}

.btn.btn_secundario {
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--gris);
}

/* generic_classes */
.flex{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

/*fondo con imagen*/
.flex.background_image {
    margin: 0; 
    padding: 0; 
    background-image: var(--background_colores);
    background-size: cover; 
    height: 100vh; 
    background-repeat: repeat repeat;
}

.float_form{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--negro);
    border-width: 1px;
    border-style: solid;
    border-color: var(--gris);
    margin: 1% 5%;
    padding: 15px 40px;
    background-color: var(--blanco);
    height: fit-content;
}

.div_row {
    color: var(--negro);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.div_row.form_labeled {
    padding: 5px 0% 5px 0%;
    margin: 0;
    align-items: left;
    justify-content: space-evenly;    
}

.div_column {
    color: var(--negro);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    text-align: center;
}

.div_column.div_form {
    justify-content: center;
    text-align: center;
}

.div_column.form_labeled {
    padding: 5px 0% 5px 0%;
    margin: 0;
    align-items: left;

}
.container50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding:5%;
}

/* fields */

.label_field{
    font-family: var(--Roboto);
    font-size: 16px;
    text-align: left;
    color: var(--negro);
    margin-bottom: 5px;
}

.input_field{
    height: 15px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 20px;
    border-radius: var(--border_radius);
    width: 100%;
    border: 1px solid var(--gris);
    font-family: var(--Roboto);
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}

.input_field.input_labeled {
    padding: 5px 0% 5px 0%;
    margin: 0,0,15px,0;
}

.input_field.input_selection {
    height: 30px;
    padding: 5px 10px;
    margin: 0,0,15px,0;
    text-align: left;
}

.input_field.input_textarea {
    height: 150px;
    padding: 10px 10px;
    margin: 0,0,15px,0;
    width: 100%;
    resize: none;
    text-align: left;
}

.input_field.input_search {
    height: 1.5rem;
    padding: 10px 10px;
    margin: 0,0,15px,0;
    width: 100%;
    resize: none;
    text-align: left;
}

/*Styles Login*/
.login_title {
    min-width: 300px;
    background-image: var(--background_colores);
    background-size: cover;
    color: var(--blanco);
    align-items: center;
    justify-content: start;
}
@media screen and (max-width: 600px) {
    .login_title{
      display:none;
    }
    .div_form{
      width: 100%;
    }
.div_row.form_labeled {
    flex-direction: column;
}
.container50{
    width: 100%;
}
}

/* Top bar con botoneras*/
.top_bar {
    color: var(--negro);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}











